<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mastery Blog</title>
        <link rel="stylesheet" type="text/css" href="#">
    </head>
    <body>
        <header>
            <figure id="logo">
                <a href="/"><img src="#" alt="Mastery Blog logo"></a>
            </figure>
            <p>Blog Name Goes Here!</p>
            <nav>
                <a href="/">Home</a>
                <a href="/posts/posts-all">Posts</a>
                <a href="/authors/authors-all">Authors</a>
                <a href="/genres/genres-all">Genres</a>
                <a href="/tags/tags-all">Tags</a>
            </nav>
        </header>
        <h1>Genres!</h1>
        
        <footer>
            <p>Mastery Blog Enterprises, 2019</p>
        </footer>

    </body>
</html>