<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Genres</title>
        <link rel="stylesheet" type="text/css" href="#">
    </head>
    <body>
        <header>
            <figure id="logo">
                <a href="/"><img src="#" alt="Mastery Blog logo"></a>
            </figure>
            <p>Blog Name Goes Here!</p>
            <nav>
                <a href="/">Home</a>
                <a href="/posts/posts-all">Posts</a>
                <a href="/authors/authors-all">Authors</a>
                <a href="/genres/genres-all">Genres</a>
                <a href="/tags/tags-all">Tags</a>
            </nav>
        </header>
       
        


        <div class="wrapper">
                
                <h1 class="genre__header"> Genre!</h1>

                <div class= "box genre__list">
                    <ul class= "genres__ul">
                        <li class="genres__list" th:each="genre : ${genres}">
                             <a th:text="${genre.genreName}"th:href="@{|/genre/${genre.genreId}|}"></a>
                        </li>
                    </ul>
                 </div>


                      
                <form th:action="genres-all" method="POST" class="genrebox">
            
                <div class="create__genre"> 
                    <h3>Create Genre</h3>
                        <input type="genre" class="add__genre__name" name="genreName" placeholder="Enter Genre Name" maxlength="100" style="width: 500px; "></textarea>
                        <input type="submit" name="Create Genre" value="submit" style="width: 200px;" required/> 
                </div> <!--closes create tags-->
                </form>


     </div> <!--closes wrapper-->




        
        <footer>
            <p>Mastery Blog Enterprises, 2019</p>
        </footer>

    </body>
</html>