* {
    margin:0;
    font-family: sans-serif;
    padding:0;
    list-style-type: none;
} 

header{
    background-color: #051e3e;
    color:whitesmoke;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

header p {
    text-align: center;
    font-size: 2rem;
}

nav{
    text-align: center;
}
nav a{
    color:whitesmoke;
}

a{
    text-decoration: none;
    color: whitesmoke;
    padding-right:12px;
}

a:hover{
    color: darkblue;
}

.wrapper{
    display:grid;
    /* flex-direction: column; */
    justify-content: center;
    padding-top: 6rem;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-bottom: 5rem;
    background-color: hsla(205, 42%, 79%, 0.5);
    opacity: 1.0;
    text-align: center;
    
}

footer{
    background-color: #051e3e;
    color:whitesmoke;
    padding-top: .3rem;
    padding-bottom: .3rem; 
}

p{
    text-align: left;
    padding-top:20px;
    padding-bottom:20px;
}