<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mastery Blog</title>
        <link rel="stylesheet" type="text/css" href="#">
        <link rel="stylesheet" href="/css/style-home.css">
    </head>
    <body>
        <header>
                <p>Mastery Blog</p>
            <nav>
                <a href="/">Home</a>
                <a href="/posts/posts-all">Posts</a>
                <a href="/authors/authors-all">Authors</a>
                <a href="/genres/genres-all">Genres</a>
                <a href="/tags/tags-all">Tags</a>
            </nav>
        </header>
        <div class= "wrapper">
        <h1>Welcome to The Blog!</h1>
        <div class="header_p">
        <p>
                Pitchfork butcher offal fixie hell of ramps. Vegan pitchfork shaman, sartorial paleo taiyaki vinyl flexitarian tattooed tbh drinking vinegar. Pickled street art poutine bitters next level chartreuse succulents pitchfork leggings banh mi put a bird on it gastropub. Shoreditch thundercats authentic roof party humblebrag, af fanny pack.
        </p>
        <p>
            Bring to the table win-win survival strategies to ensure 
            proactive domination. At the end of the day, going forward, 
            a new normal that has evolved from generation X is on the 
            runway heading towards a streamlined cloud solution. User 
            generated content in real-time will have multiple 
            touchpoints for offshoring.
        </p>
        <p>
                Vape af drinking vinegar meh hammock cronut before they sold out. Cronut irony ramps, jianbing schlitz normcore intelligentsia godard poke whatever kogi 3 wolf moon. Plaid fam yuccie yr. Street art pinterest vexillologist, actually tofu chillwave tacos tilde XOXO hella echo park keytar la croix pabst. Sustainable chia +1, selfies unicorn lo-fi vape next level quinoa gastropub. Whatever woke selvage, yuccie humblebrag raclette artisan portland pinterest fashion axe sartorial vegan air plant affogato.    
            </p>
        </div>
        <button>Enter the blogosphere!!</button>
    </div>
        <footer>
            <p>Mastery Blog Enterprises, 2019</p>
        </footer>

    </body>
</html>